
@{
    Layout = null;
}
<link href="~/Content/img/ancient-architecture.css" rel="stylesheet" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ancient Architecture</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="#">Services</a>
            <a href="#">Blog</a>
            <a href="#">Portfolio</a>
            <a href="#">About</a>
            <a href="#">History</a>
            <a href="#">Contact</a>
        </nav>
        <h1>Ancient Architecture</h1>
        <img src="~/Content/img/Chichen_Itza_3.jpg" alt="Ancient Pyramid">
    </header>

    <section class="article-section">
        <article>
            <img src="~/Content/img/2.jpg" alt="Ancient Roman Architecture">
            <h2>Ancient Roman architecture</h2>
            <p>Posted on 01.01.2017 by <a href="#">Someone</a></p>
            <p>Ancient Roman architecture adopted the external language of classical Greek architecture for the purposes of the ancient Romans, but grew so different from Greek buildings as to become a new architectural style...</p>
            <div class="article-footer">
                <button>0 COMMENTS</button>
                <button>VIEW POST</button>
            </div>
        </article>

        <article>
            <img src="~/Content/img/3.jpg" alt="Ancient Greek Architecture">
            <h2>Ancient Greek architecture</h2>
            <p>Posted on 01.01.2017 by <a href="#">Someone</a></p>
            <p>The architecture of ancient Greece is the architecture produced by the Greek-speaking people (Hellenic) whose culture flourished on the Greek mainland, the Peloponnese, the Aegean Islands...</p>
            <div class="article-footer">
                <button>0 COMMENTS</button>
                <button>VIEW POST</button>
            </div>
        </article>

        <article>
            <img src="~/Content/img/1491584261034.jpeg" alt="Ancient Indian Architecture">
            <h2>Ancient Indian Architecture</h2>
            <p>Posted on 01.01.2017 by <a href="#">Someone</a></p>
            <p>Indian architecture is as old as the history of civilization. The earliest remains of recognizable building activity in the Indian dates back to the Indus Valley cities...</p>
            <div class="article-footer">
                <button>0 COMMENTS</button>
                <button>VIEW POST</button>
            </div>
        </article>
    </section>

    <footer>
        <p>© Copyright OldWorld by Anonymous. Photos by Anonymous.</p>
    </footer>
</body>
</html>
